.contenido{
  position: absolute;
  width: 710px;
  height: 109px;
  left: 87px;
  top: 195px;
  font-family: Barlow Semi Condensed;
  font-style: normal;
  font-weight: normal;
  font-size: 64px;
  line-height: 86px;
  letter-spacing: 0.01em;
  color: #0A0000;
}

.rayita{
  position: absolute;
  width: 1562px;
  height: 0px;
  left: 87px;
  top: 304px;
  border: 1px solid #000000;
  border: 1px solid #000000;
}

.linea-atencion{
  position: absolute;
  width: 1409px;
  height: 267px;
  left: 100px;
  top: 343px;
  font-family: Barlow Semi Condensed;
  font-style: normal;
  font-weight: normal;
  font-size: 28px;
  line-height: 52px;
  letter-spacing: 0.01em;
  color: #000000;
}

.mensaje{
  position: absolute;
  width: 347px;
  height: 69px;
  left: 95px;
  top: 658px;
  font-family: Barlow Semi Condensed;
  font-style: normal;
  font-weight: normal;
  font-size: 40px;
  line-height: 52px;
  letter-spacing: 0.01em;
  color: #000000;
}

.notificacion{
  position: absolute;
  width: 341px;
  height: 54px;
  left: 100px;
  top: 737px;
  font-family: Barlow Semi Condensed;
  font-style: normal;
  font-weight: normal;
  font-size: 26px;
  line-height: 31px;
  letter-spacing: 0.01em;
  color: #000000;
}

.caja-de-comentarios{
  position: absolute;
  width: 1170px;
  height: 248px;
  left: 90px;
  top: 791px;
  background: #D1CFCF;
}

.btn-cancelar{
  position: absolute;
  width: 115px;
  height: 45px;
  left: 1024px;
  top: 1052px;
  background: #F87878;
  font-style: normal;
  font-weight: 800;
  font-size: 20px;
  line-height: 31px;
  letter-spacing: 0.01em;
  color: #FFFCFC;
}

.btn-enviar{
  position: absolute;
  width: 115px;
  height: 45px;
  left: 1150px;
  top: 1052px;
  font-style: normal;
  font-weight: 800;
  font-size: 20px;
  line-height: 31px;
  letter-spacing: 0.01em;
  color: #FFFCFC;
  background: #478CF3;
}

.relleno{
  position:absolute;
  width: auto;
  height: 25px;
  top: 1300px;
}
