/* Fuentes */

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

/* Estilos de texto */

body {
    color: white;
}

/* Secciones */

body {
    margin: 0px;
    background-color: #4d4a4a;
    font-family: 'Roboto', sans-serif;
}

.fondo-uki {
    background-image: url("https://i.imgur.com/tdianQe.jpg");
}

/* Elementos */

.boton {
    color: #FFFCFC;
    padding: 5px 10px 5px 10px;
  }
  
.caja_de_comentarios{
    background-color: #D1CFCF;
}

/* Colores */

.alerta {
    background-color: #F87878;
}

.informativo {
    background-color: #478CF3;
}
