/* ---------- Fuentes ---------- */

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

/* ---------- Estilos de texto ---------- */

body {
    /* SOLO PARA TEXTO */
    color: white;
    font-family: 'Roboto', sans-serif;
}

/* ---------- Secciones ---------- */

body {
    transition: margin-left .5s;
    margin: 0px;
    background-color: #282828;
}

.seccion_central {
    padding: 30px;
    min-height: 550px;
}

/* ---------- Elementos ---------- */

.boton {
    color: #FFFCFC;
    padding: 8px 12px 8px 12px;
    text-align: center;
    border-radius: 10px;
}
  
.caja_de_comentarios{
    background-color: #D1CFCF;
}

hr {
    background: grey;
    height: 1px;
    border: 0px;
}

.multilinea {
    white-space: pre-line;
}

#icono_perfil {
    border-radius: 100%;
    width: 45px;
}

/* ---------- Colores ---------- */

.peligro {
    background-color: #F87878;
}

.chillin {
    background-color: #478CF3;
}

.cuidao {
    background-color: rgb(187, 139, 8);
}