/* ----- Footer ----- */

footer{
    background-color:#252527;
    position:absolute;
    width: auto;
    right: 0.1px;
    top: 1300px;
    height: 470px;
    padding-top: 50px;
    text-align: center;
  }
  
  #flexFooter{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    align-items: center;
  }
  
  .divisionFooter1{
  
    width: 35%;
    text-align: justify; 
    padding-left: 10%;
    padding-right: 5%; 
  }
  
  .divisionFooter2{
    padding-top:40px;
    width: 25%;
    text-align: justify;
  }
  
  .divisionFooter3{
    padding-left: 5%;
    width: 10%;
    text-align:justify;
    padding-right: 5%; 
    padding-bottom: 75px;
  }
  
  .divisionFooter4{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 3%;
    text-align:justify;
    text-align: center;
  }
  
  .barrita{
    border-bottom:2px solid grey;
    width:80%;
  }
  
  .divisionFooter5{
    width: 100%;
    text-align:center; 
  }
  
  .h5{
    color: #b4b4ba;
    text-align:center;
    font-size:x-small;
  }
  
  .red,.titulo-footer,.h3{
    color: #b4b4ba; 
  }
  
  
  .espe{
    color: #b4b4ba; 
  }
  
  .p{
    text-align: center;
  }