.sidenav {
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0;
    left: 0;
    background-color: grey; /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
  }
  
  /* The navigation menu links */
  .sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #fff;
    display: block;
    transition: 0.3s
  }
  
  /* When you mouse over the navigation links, change their color */
  .sidenav a:hover, .offcanvas a:focus{
    color: #444;
  }
  
  /* Position and style the close button (top right corner) */
  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  
  }
  
  /* Style page content - use this if you want to push the page content to the right when you open the side navigation */
  #main {
    transition: margin-left .5s;
    padding: 20px;
    overflow:hidden;
    width:100%;
  }
  body {
  overflow-x: hidden;
  width: auto;
  height: auto;
  background-color:#252527
  }
  .menu-nav{
  width: auto;
  height: 50px;
  background-color: #343131;
  }
  /* Add a black background color to the top navigation */
  .topnav {
    
    overflow: hidden;
  }
  
  /* Style the links inside the navigation bar */
  .topnav a {
    float: left;
    display: block;
    color: #444;
    text-align: center;
    padding: 6px 8px;
    text-decoration: none;
    font-size: 17px;
    background-color: ;
  
  }
  .topnav a.inicio{
    color: none;
    text-decoration: none;
  }
  
  /* Change the color of links on hover */
  
  
  /* Add a color to the active/current link */
  .topnav a.active {
    background-color: #4CAF50;
    color: #444;
  }
  
  /* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }
  
  a svg{
  transition:all .5s ease;
  
  &:hover{
    #transform:rotate(180deg);
  }
  }
  
  #ico{
  display: none;
  }
  
  .menu{
  background: #444;
  display: none;
  padding: 5px;
  width: 320px;
  @include border-radius(5px);
  
  #transition: all 0.5s ease;
  
  a {
    display: block;
    color: #444;
    text-align: center;
    padding: 10px 2px;
    margin: 3px 0;
    text-decoration: none;
    background: #444;
  
    &:nth-child(1){
      margin-top: 0;
      @include border-radius(3px 3px 0 0 );
      }
    &:nth-child(5){
      margin-bottom: 0;
      @include border-radius(0 0 3px 3px);
    }
  
    :hover{
      background: #555;
     }
   }
  }
  /* menu-nav*/
  .nombre{
  padding-left: 400px;
  width: auto;
  height: auto;
  }
  .nombre img,.nombre h2,.nombre input,.nombre h4,.clase-texto .textoennav{
  float: left;
  }
  .logo
  {
  width: 25px;
  height: 25px;
  padding-top: 10px;
  }
  
  .textoennav {
  font-family: 'ZCOOL QingKe HuangYou', cursive;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 15px;
  color: rgb(255, 255, 255);
  padding-left: 350px;
  margin-block-start: 0.7em;
  margin-block-end: 0em;
  
  }
  
  
  
  .subtextmoculto{
  margin: auto;
  width: 80%;
  color: white;
  font-size: 25px;
  text-align: left;
  font-family: 'ZCOOL QingKe HuangYou', cursive;
  background-color:grey;
  }
  .cuadrocategoria{
  list-style: none;
  text-decoration: none;
  background-color: rgba(0, 0, 0, 0.658)0, 0, 0, 0.658);
  }
  
  .subtextmoculto:hover{
  background-color: rgba(0, 0, 0, 0.322);
  }
  
  
  
  .textodemoculto{
  font-family: 'ZCOOL QingKe HuangYou', cursive;
  font-style: normal;
  font-weight: normal;
  font-size: 25px;
  line-height: 30px;
  color: rgb(255, 255, 255);
  padding-left: 50px;
  margin-block-start: 0.8em;
  margin-block-end: 0em;
  }
  
  .boton-user{
  
  background:none;
  border: none;
  }
  
  .titulodepagina{
  font-family: 'Shojumaru', cursive;
  font-style: normal;
  font-weight: normal;
  font-size: 30px;
  margin-block-start: 0em;
  margin-block-end: 0em;
  letter-spacing: 0.01em;
  backdrop-filter: blur(4px);
  color: coral;
  }
  .search1{
    padding-right:55px ;
    padding-top: 5px;
    padding-bottom: 5px;
  
  }
  .searchbtn{
    width: 300px;
    vertical-align: middle;
    white-space: nowrap;
    position: absolute;
    top: 3px;
    left: 550px;
  }
  .searchbtn input#search{
    position: absolute;
    width: 50px;
    height: 50px;
    background: #343131;
    border: none;
    font-size: 10pt;
    float: left;
    color: #fff;
    padding-left: 35px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    color: #fff;
    
    -webkit-transition: width .55s ease;
    -moz-transition: width .55s ease;
    -ms-transition: width .55s ease;
    -o-transition: width .55s ease;
    transition: width .55s ease;
  }
  .searchbtn input#search::-webkit-input-placeholder {
    color: #65737e;
  }
  
  .searchbtn input#search:-moz-placeholder { /* Firefox 18- */
    color: #65737e;  
  }
  
  .searchbtn input#search::-moz-placeholder {  /* Firefox 19+ */
    color: #65737e;  
  }
  
  .searchbtn input#search:-ms-input-placeholder {  
    color: #65737e;  
  }
  .searchbtn .lupita{
    position: absolute;
    top: 10%;
    margin-left: 17px;
    margin-top: 17px;
    z-index: 1;
    color: #fff;
  }
  .searchbtn input#search:focus, .searchbtn input#search:active{
    outline:none;
    width: 300px;
  }
   
  .searchbtn:hover input#search{
  width: 300px;
  }
   
  .searchbtn:hover .lupita{
    color: #93a2ad;
  }
  
  .searchbtn {
    float:left;
  padding-top: 5px;
  padding-left: 100px;
  width: auto;
  height: auto;
  }
  
  
  .fondo-uki{
  background-image: url("https://i.imgur.com/tdianQe.jpg");
  width:1200px;
  height: 800px;
  }
  .contenido{
   
    position: absolute;
    width: 710px;
    height: 109px;
    left: 87px;
    top: 195px;
    font-family: Barlow Semi Condensed;
  font-style: normal;
  font-weight: normal;
  font-size: 64px;
  line-height: 86px;
  letter-spacing: 0.01em;
  color: #FFFFFF;


  
  }
  
  .rayita{
    position: absolute;
    width: 1562px;
    height: 0px;
    left: 87px;
    top: 304px;
    
    border: 0.5px solid #FFFFFF
  }
  .rayita2{
    position: absolute;
    width: 913px;
    height: 0px;
    left: 689px;
    top: 380px;
    
    border: 0.5px solid #FFFFFF
  }
  .rayita3{
    position: absolute;
    width: 1509px;
    height: 0px;
    left: 93px;
    top: 698px;
    border: 0.5px solid #FFFFFF
    
  }



  .linea-atencion{
    position: absolute;
  width: 1409px;
  height: 267px;
  left: 100px;
  top: 343px;
  
  font-family: Barlow Semi Condensed;
  font-style: normal;
  font-weight: normal;
  font-size: 28px;
  line-height: 52px;
  letter-spacing: 0.01em;
  
  color: #FFFFFF;;
  }

  .info-cuenta{
    position: absolute;
    width: 913px;
    height: 0px;
    left: 689px;
    top: 380px;
    color: #FFFFFF;
  }
  .info-cuenta2{
    position: absolute;
    width: 268px;
    height: 29px;
    left: 1297px;
    top: 398px;
    color: #3E7CF8;

  }


  /* Perfiles: */

  .perfiles{
    position: absolute;
    width: 1409px;
  height: 267px;
  left: 100px;
  top: 750px;
  font-family: Barlow Semi Condensed;
    font-style: normal;
    font-weight: normal;
    font-size: 28px;
    line-height: 52px;
    letter-spacing: 0.01em;
    color: #FFFFFF;
  }
  .perfil{
    position: absolute;
    width: 70px;
    height: 69px;
    left: 730px;
    top: 820px;
    float: left;
    
  font-family: Barlow Semi Condensed;
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 43px;
  letter-spacing: 0.01em;
  color: #FFFFFF;
  
}
.perfil2{
    position: absolute;
    width: 65px;
    height: 71px;
    left: 730px;
    top: 890px;
    float: left;
    
    
  font-family: Barlow Semi Condensed;
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 43px;
  letter-spacing: 0.01em;
  color: #FFFFFF;
}
.perfil3{
  
position: absolute;
width: 65px;
height: 64px;
left: 730px;
top: 960px;
  font-family: Barlow Semi Condensed;
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 43px;
  letter-spacing: 0.01em;
  color: #FFFFFF;
}
.nombre-perfiles1{
    position: absolute;
    width: 121px;
    height: 44px;
    left: 846px;
    top: 820px;
  
    
    font-family: Barlow Semi Condensed;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 29px;
    letter-spacing: 0.01em;
    color: #FFFFFF;
    }
    .nombre-perfiles2{
      position: absolute;
      width: 121px;
      height: 44px;
      left: 846px;
      top: 890px;
      
      
      font-family: Barlow Semi Condensed;
      font-style: normal;
      font-weight: normal;
      font-size: 24px;
      line-height: 29px;
      letter-spacing: 0.01em;
      color: #FFFFFF;
      }
      .nombre-perfiles3{
          position: absolute;
          width: 121px;
          height: 44px;
          left: 846px;
          top: 960px;
          
          
          font-family: Barlow Semi Condensed;
          font-style: normal;
          font-weight: normal;
          font-size: 24px;
          line-height: 29px;
          letter-spacing: 0.01em;
          color: #FFFFFF;
          }
  
          .botones-perfil1{
          position: absolute;
      width: 240px;
      height: 60px;
      left: 730px;
      top: 1030px;
font-family: Barlow Semi Condensed;
font-style: normal;
font-weight: normal;
font-size: 24px;
line-height: 29px;
text-align: center;
letter-spacing: 0.01em;

  
  /* Yellow */
  background: #F2C94C;
  border-radius: 10px;
          }
          
        .botones-perfil2{
            position: absolute;
        width: 240px;
        height: 60px;
        left: 730px;
        top: 1100px;
        font-family: Barlow Semi Condensed;
font-style: normal;
font-weight: normal;
font-size: 24px;
line-height: 29px;
text-align: center;
letter-spacing: 0.01em;

    
    /* Yellow */
    background: #F2C94C;
    border-radius: 10px;
    
            }
    
            .botones-perfil3{
                position: absolute;
            width: 240px;
            height: 60px;
            left: 730px;
            top: 1170px;
            font-family: Barlow Semi Condensed;
font-style: normal;
font-weight: normal;
font-size: 24px;
line-height: 29px;
text-align: center;
letter-spacing: 0.01em;

        
        /* Yellow */
        background: #F2C94C;
        border-radius: 10px;
                }

    

  /* ----- Footer ----- */
  
  footer{
    background-color: white;
    position:absolute;
    width: auto;
    right: 0.1px;
    top: 1300px;
    height: 470px;
    padding-top: 50px;
    text-align: center;
  }
  
  #flexFooter{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    align-items: center;
  }
  
  .divisionFooter1{
  
    width: 35%;
    text-align: justify; 
    padding-left: 10%;
    padding-right: 5%; 
  }
  
  .divisionFooter2{
    padding-top:40px;
    width: 25%;
    text-align: justify;
  }
  
  .divisionFooter3{
    padding-left: 5%;
    width: 10%;
    text-align:justify;
    padding-right: 5%; 
    padding-bottom: 75px;
  }
  
  .divisionFooter4{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 3%;
    text-align:justify;
    text-align: center;
  }
  
  .barrita{
    border-bottom:2px solid grey;
    width:80%;
  }
  
  .divisionFooter5{
    width: 100%;
    text-align:center; 
  }
  
  .h5{
   
    text-align:center;
    font-size:x-small;
  }
  
  .red,.titulo-footer,.h3{
    
  }
  
  
  .espe{
   
  }
  
  .p{
    text-align: center;
  }
  h1{
    font-family: Verdana;
    font-size: small;
    
  }

 
  