.section1
{
  padding: 8%;
  margin: 0% 10% 0% 10%;
  background-image: url("images/overlay.png"), -moz-linear-gradient(45deg, #f30e0e 0%, #f8f8f8 100%);
		background-image: url("images/overlay.png"), -webkit-linear-gradient(45deg, #f30e0e 0%, #f8f8f8 100%);
		background-image: url("images/overlay.png"), -ms-linear-gradient(45deg, #f30e0e 0%, #f8f8f8 100%);
		background-image: url("images/overlay.png"), linear-gradient(45deg, #f30e0e 0%, #f8f8f8 100%);
  color: black;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.prueba1{
width: 40%;
display: inline-block;
padding: 0% 6% 5% 3%;
}
 .boton1{
    background:    #000000;
    border-radius: 47px;
    width:         200px;
    height:        50px;
    color:         #ffffff;
    display:       block;
    font:          normal bold 25px/50px "Open Sans", sans-serif;
    text-align:    center;
    text-decoration: none;
 }

 .section2
{
  padding: 8%;
  margin: 0% 10% 0% 10%;
  color: black;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.prueba2{
width: 40%;
display: inline-block;
padding: 0% 6% 5% 3%;
}
 .boton2{
    background:    #ffffff;
    border:        2px solid #d9d9d9;
    border-radius: 47px;
    width:         191px;
    height:        46px;
    color:         #999999;
    display:       inline-block;
    font:          normal bold 24px/46px "Open Sans", sans-serif;
    text-align:    center;
    text-decoration: none;
 }

 ul{
    padding: 0px;
    margin: 0px;
    list-style: none;
}
li{
    background-image: url('https://www.fantasiasmiguel.com/fantasias/productodetalle.aspx?c=3114&md=90');
    background-repeat: no-repeat;
    background-position: -2px 1px;
    padding-left: 16px;
}

.section3
{
  padding: 4%;
  margin: 0% 10% 0% 10%;
  color: black;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  width: 100%;
  vertical-align: middle;
  float: left;

}
.prueba3{
  float: left;
width: 45%;
height: 45%;
padding: 0% 6% 5% 3%;
}

  
