/* Fuentes */

@import url('https://fonts.googleapis.com/css2?family=Shojumaru&display=swap');

/* Navegador principal */

#contenido_de_header {
  white-space: nowrap;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #303030;
  -webkit-box-shadow: 3px -1px 22px 3px rgba(39,39,39,1);
  -moz-box-shadow: 3px -1px 22px 3px rgba(39,39,39,1);
  box-shadow: 3px -1px 22px 3px rgba(39,39,39,1);
  height: 75px;
  color: #b4b4ba;
}


#logo {
  height: 25px;
}

#icono_perfil {
  border-radius: 100%;
  width: 45px;
}

#titulo {
  font-family: 'Shojumaru', cursive;
  text-shadow: 2px 2px #222020;
  font-size: 40px;
  letter-spacing: 0.01em;
  color: rgb(241, 97, 44);
}

a {
  text-decoration: none;
}

#menu_burger {
  padding-left: 25px;
}

#menu_usuario {
  position: absolute;
  padding: 15px;
  background-color: #222020;
  border: 1px solid #585858;
  border-radius: 5px;
  right: 40px;
  top: 40px;
  -webkit-box-shadow: 3px -1px 22px 3px rgba(39,39,39,1);
  -moz-box-shadow: 3px -1px 22px 3px rgba(39,39,39,1);
  box-shadow: 3px -1px 22px 3px rgba(39,39,39,1);
  display: none;
}

#menu_usuario a {
  color: rgb(221, 221, 221);
}

/* Posicionamiento */

#tercio_1 {
  display:flex;
  justify-content: space-between;
  align-items: center;
  white-space: nowrap;
}

#tercio_1 * {
  margin: 0px 10px 0px 10px;
}

#tercio_3 {
  display:flex;
  justify-content: space-between;
  align-items: center;
  white-space: nowrap;
  margin-right: 20px;
}

#tercio_3 * {
  margin: 0px 10px 0px 10px;
}

/* Barra de búsqueda */

.busqueda {
  display: flex;
  align-items: center;
  width: 400px;
  vertical-align: middle;
  white-space: nowrap;
  background: linear-gradient(90deg, rgba(34, 32, 32,1) 19%, rgba(48, 48, 48,0) 19%);
  border-radius: 5px;
}

.lupa {
  padding-left: 15px;
}

input#input_busqueda {
  color: white;
  width: 130px;
  height: 50px;
  border: none;
  font-size: 10pt;
  padding-left: 15px;
  background: #222020;
  border-radius: 5px;
  transition: width .55s ease;
}

input#input_busqueda::placeholder {  
  color: #c2c2c2;  
}

.busqueda input#input_busqueda:focus, .busqueda input#input_busqueda:active {
  outline:none;
  width: 300px;
}

.busqueda:hover input#input_busqueda {
  width: 300px;
}