/* ---------- Fuentes ---------- */

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=ZCOOL+QingKe+HuangYou&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Teko:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bitter&display=swap');

/* ---------- Estilos de texto ---------- */

body {
    /* SOLO PARA TEXTO */
    color: white;
    font-family: 'Roboto', sans-serif;
}

h1, h2, h3, h4, h5 {
    font-family: 'Bitter', serif;
}

a {
    text-decoration: none;
    color: rgb(255, 255, 255);
}

a:visited {
    color: rgb(255, 255, 255);
  }

/* ---------- Secciones ---------- */

body {
    transition: margin-left .5s;
    margin: 0px;
    background-color: #282828;
}

.seccion_central {
    padding: 30px;
    min-height: 550px;
}

.fondo-uki {
    background-color: #282828;
    background-image: url("../media/ola_chevere.svg");
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: cover;
  }

/* ---------- Elementos ---------- */

.alertaVerde {
    border-radius: 10px;
    margin: auto;
    width: 50%;
    color: rgb(48, 139, 48);
    border: 2px solid rgb(48, 139, 48);
    background-color: rgb(114, 202, 114);
    text-align: center;
}

.alertaRoja {
    border-radius: 10px;
    margin: auto;
    width: 50%;
    color: rgb(170, 43, 75);
    border: 2px solid rgb(170, 43, 75);
    background-color: rgb(202, 114, 114);
    text-align: center;
}

.alertaBusqueda {
    border-radius: 10px;
    margin: auto;
    width: 50%;
    text-align: center;
}

.boton {
    width: fit-content;
    border: 0px;
    color: #FFFCFC;
    padding: 8px 12px 8px 12px;
    text-align: center;
    border-radius: 10px;
    white-space: pre;
}

.botonInput {
    height: 35px;
    width: fit-content;
    border: 0px;
    color: #FFFCFC;
    text-align: center;
    border-radius: 10px;
    font-size: 16px;
    margin: 5px;
    white-space: pre;
    padding: 0px 13px 0px 13px;
}

.min_width_124px {
    min-width: 124px;
}

.botonInput:hover {
    cursor: pointer;
}

 
.caja_de_comentarios{
    background-color: #D1CFCF;
}

hr {
    background: grey;
    height: 1px;
    border: 0px;
}

.multilinea {
    white-space: pre-line;
}

#icono_perfil {
    border-radius: 100%;
    width: 45px;
}

.tabla_sin_bordes {
    border-collapse: collapse;
    border: none;
}

.texto_alineado_iz {
    text-align: left;
}

.crud_preview {
    width: 220px;
    height: 124px;
    object-fit: cover;
}

.input_escondido {
    display: none;
}

/* ---------- Colores ---------- */

.peligro {
    background-color: rgb(170, 43, 75);
}

.chillin {
    background-color: rgb(46, 99, 179);
}

.cuidao {
    background-color: rgb(187, 139, 8);
}

.hierba {
    background-color: rgb(48, 139, 48);
}

.naranjaUki {
    background:    rgb(255, 94, 0);
}

/* ---------- Otros ---------- */



/* ---------- Scrollbar ---------- */

/* width */
::-webkit-scrollbar {
    width: 9px;
    height: 9px;
}

/* Track */
::-webkit-scrollbar-track {
    background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: rgb(68, 66, 66); 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: rgb(68, 66, 66); 
}

/* Firefox */

/*.scroller {
    width: 300px;
    height: 100px;
    overflow-y: scroll;
    scrollbar-color: rebeccapurple green;
    scrollbar-width: thin;
  } */