/* ---------- Fuentes ---------- */

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=ZCOOL+QingKe+HuangYou&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Teko:wght@700&display=swap');

/* ---------- Estilos de texto ---------- */

body {
    /* SOLO PARA TEXTO */
    color: white;
    font-family: 'Roboto', sans-serif;
}

h1, h2, h3, h4, h5 {
}

a {
    text-decoration: none;
    color: rgb(248, 248, 248);
}

a:visited {
    color: rgb(117, 160, 247);
  }

/* ---------- Secciones ---------- */

body {
    transition: margin-left .5s;
    margin: 0px;
    background-color: #282828;
}

.seccion_central {
    padding: 30px;
    min-height: 550px;
}

.fondo-uki {
    background-color: #282828;
    background-image: url("../media/ola_chevere.svg");
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: cover;
  }

/* ---------- Elementos ---------- */

.boton {
    border: 0px;
    color: #FFFCFC;
    padding: 8px 12px 8px 12px;
    text-align: center;
    border-radius: 10px;
}
  
.caja_de_comentarios{
    background-color: #D1CFCF;
}

hr {
    background: grey;
    height: 1px;
    border: 0px;
}

.multilinea {
    white-space: pre-line;
}

#icono_perfil {
    border-radius: 100%;
    width: 45px;
}

.tabla_sin_bordes {
    border-collapse: collapse;
    border: none;
}

.texto_alineado_iz {
    text-align: left;
}

/* ---------- Colores ---------- */

.peligro {
    background-color: rgb(170, 43, 75);
}

.chillin {
    background-color: rgb(46, 99, 179);
}

.cuidao {
    background-color: rgb(187, 139, 8);
}

.hierba {
    background-color: rgb(48, 139, 48);
}

/* ---------- Scrollbar ---------- */

/* width */
::-webkit-scrollbar {
    width: 6px;
    height: 6px;
}

/* Track */
::-webkit-scrollbar-track {
    background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: rgb(68, 66, 66); 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: rgb(68, 66, 66); 
}

/* Firefox */

/*.scroller {
    width: 300px;
    height: 100px;
    overflow-y: scroll;
    scrollbar-color: rebeccapurple green;
    scrollbar-width: thin;
  } */