  .contenido{
   
    position: absolute;
    width: 710px;
    height: 109px;
    left: 87px;
    top: 195px;
    font-family: Barlow Semi Condensed;
  font-style: normal;
  font-weight: normal;
  font-size: 64px;
  line-height: 86px;
  letter-spacing: 0.01em;
  color: #FFFFFF;


  
  }
  
  .rayita{
    position: absolute;
    width: 1562px;
    height: 0px;
    left: 87px;
    top: 304px;
    
    border: 0.5px solid #FFFFFF
  }
  .rayita2{
    position: absolute;
    width: 913px;
    height: 0px;
    left: 689px;
    top: 380px;
    
    border: 0.5px solid #FFFFFF
  }
  .rayita3{
    position: absolute;
    width: 1509px;
    height: 0px;
    left: 93px;
    top: 698px;
    border: 0.5px solid #FFFFFF
    
  }



  .linea-atencion{
    position: absolute;
  width: 1409px;
  height: 267px;
  left: 100px;
  top: 343px;
  
  font-family: Barlow Semi Condensed;
  font-style: normal;
  font-weight: normal;
  font-size: 28px;
  line-height: 52px;
  letter-spacing: 0.01em;
  
  color: #FFFFFF;;
  }

  .info-cuenta{
    position: absolute;
    width: 913px;
    height: 0px;
    left: 689px;
    top: 380px;
    color: #FFFFFF;
  }
  .info-cuenta2{
    position: absolute;
    width: 268px;
    height: 29px;
    left: 1297px;
    top: 398px;
    color: #3E7CF8;

  }


  /* Perfiles: */

  .perfiles{
    position: absolute;
    width: 1409px;
  height: 267px;
  left: 100px;
  top: 750px;
  font-family: Barlow Semi Condensed;
    font-style: normal;
    font-weight: normal;
    font-size: 28px;
    line-height: 52px;
    letter-spacing: 0.01em;
    color: #FFFFFF;
  }
  .perfil{
    position: absolute;
    width: 70px;
    height: 69px;
    left: 730px;
    top: 820px;
    float: left;
    
  font-family: Barlow Semi Condensed;
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 43px;
  letter-spacing: 0.01em;
  color: #FFFFFF;
  
}
.perfil2{
    position: absolute;
    width: 65px;
    height: 71px;
    left: 730px;
    top: 890px;
    float: left;
    
    
  font-family: Barlow Semi Condensed;
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 43px;
  letter-spacing: 0.01em;
  color: #FFFFFF;
}
.perfil3{
  
position: absolute;
width: 65px;
height: 64px;
left: 730px;
top: 960px;
  font-family: Barlow Semi Condensed;
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 43px;
  letter-spacing: 0.01em;
  color: #FFFFFF;
}
.nombre-perfiles1{
    position: absolute;
    width: 121px;
    height: 44px;
    left: 846px;
    top: 820px;
  
    
    font-family: Barlow Semi Condensed;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 29px;
    letter-spacing: 0.01em;
    color: #FFFFFF;
    }
    .nombre-perfiles2{
      position: absolute;
      width: 121px;
      height: 44px;
      left: 846px;
      top: 890px;
      
      
      font-family: Barlow Semi Condensed;
      font-style: normal;
      font-weight: normal;
      font-size: 24px;
      line-height: 29px;
      letter-spacing: 0.01em;
      color: #FFFFFF;
      }
      .nombre-perfiles3{
          position: absolute;
          width: 121px;
          height: 44px;
          left: 846px;
          top: 960px;
          
          
          font-family: Barlow Semi Condensed;
          font-style: normal;
          font-weight: normal;
          font-size: 24px;
          line-height: 29px;
          letter-spacing: 0.01em;
          color: #FFFFFF;
          }
  
          .botones-perfil1{
          position: absolute;
      width: 240px;
      height: 60px;
      left: 730px;
      top: 1030px;
font-family: Barlow Semi Condensed;
font-style: normal;
font-weight: normal;
font-size: 24px;
line-height: 29px;
text-align: center;
letter-spacing: 0.01em;

  
  /* Yellow */
  background: #F2C94C;
  border-radius: 10px;
          }
          
        .botones-perfil2{
            position: absolute;
        width: 240px;
        height: 60px;
        left: 730px;
        top: 1100px;
        font-family: Barlow Semi Condensed;
font-style: normal;
font-weight: normal;
font-size: 24px;
line-height: 29px;
text-align: center;
letter-spacing: 0.01em;

    
    /* Yellow */
    background: #F2C94C;
    border-radius: 10px;
    
            }
    
            .botones-perfil3{
                position: absolute;
            width: 240px;
            height: 60px;
            left: 730px;
            top: 1170px;
            font-family: Barlow Semi Condensed;
font-style: normal;
font-weight: normal;
font-size: 24px;
line-height: 29px;
text-align: center;
letter-spacing: 0.01em;

        
        /* Yellow */
        background: #F2C94C;
        border-radius: 10px;
                }
