.fondo-uki {
  /*
  background-image: url("https://i.imgur.com/tdianQe.jpg");
  background-repeat: no-repeat;
  background-position: center;
  */
}

.menu_imagen {
  padding: 5px 10px 5px 10px;
  width: 200px;
  height: 250px;
  box-sizing: border-box;
  object-fit: cover;
}

.carousel-cell {
  display: flex;
  margin-right: 10px;
  background: rgb(49, 49, 49);
  border-radius: 5px;
  counter-increment: carousel-cell;
}

.carousel {
  margin: 20px;
}