/* Para las páginas de panel de videos y panel de listas de reproducción */

/* Panel de videos */

#panel_flex_1 {
    display:flex;
    align-items: baseline;
    justify-content: space-between;
}

#panel_flex_1 h1 {
    flex-basis: 45%;
}

select {
    width: 25%;
    margin: 20px;
    height: 30px;
}

.vista_previa {
    width: 120px;
    height: 90px;
    object-fit: cover;
}

.tabla_sin_bordes {
    width: 100%;
    text-align: center;
}

.tabla_sin_bordes td {
    padding: 8px;
}

/* Administrar listas */

#listas_flex_1 {
    display:flex;
    align-items: baseline;
}

#titulo_listas_de_reproduccion {
    flex-basis: 90%;
}

.imagen_lista {
    width: 160px;
    height: 220px;
    object-fit: cover;
}
