.vista_previa {
    max-width: 360px;
    max-height: 270px;
    object-fit: cover;
}

#barra_de_cargar {
    background: linear-gradient(90deg,rgb(36, 114, 231) 19%, #5c5757 19%);
    width: 100%;
    height: 50px;
}

select {
    width: 90%;
}

.file_input {
    padding: 15px 8px 8px 15px;
    background-color: #343131;
}

input, select {
    height: 30px;
}

input, textarea {
    width: 95%;
}


#subir_video_flex_1 {
    display: flex;
}

#subir_video_flex_2 {
    padding: 20px;
    flex-basis: 25%;
    display: flex;
    flex-flow: column nowrap;
}

#subir_video_flex_3 {
    display: flex;
}

#seccion_derecha {
    width: 100%;
    padding: 20px;
}

#titulo_y_descripcion {
    flex-basis: 50%;
}

#subseccion_de_botones {
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    flex-basis: 20%;
    
}

.boton {
    display:block;
    width: 100px;
    margin: 5px;
}